.bg-custom {
    background-color: #225F65;
}

nav {
    margin-bottom: 20px;
}


/* #F1C6C7 #E4BDBE #DFA3A4 #F2C8C9 #F2C9CA 
Вторичный Цвет A: #85919F #7F8A97 #6D7F93 #8A97A5 #8B97A5 
Вторичный Цвет B: #ECEFC4 #DFE2BC #D8DDA1 #EDF0C6 #EDF0C7 */

/* https: //colorscheme.ru/#5C31Vayw0w0w0 */


.bt-search {
    background-color: #68989A;
}
