.bg-custom {
    background-color: #225F65;
}

nav {
    margin-bottom: 20px;
}



/* #F1C6C7  #DFA3A4 #F2C8C9 #F2C9CA 
Вторичный Цвет A: #85919F #7F8A97 #6D7F93 #6D7F93 #8B97A5 
Вторичный Цвет B: #ECEFC4 #DFE2BC #D8DDA1 #EDF0C6 #EDF0C7 */

/* https://colorscheme.ru/#5C31Vayw0w0w0 */


.keyword {
    width: 200px;
}

.key_pages_number {
    width: 200px;
}

#key_experience {
    color: rgb(0, 0, 0);
    height: 30px;
}

#key_experience option:checked {
    background-color: #1ca7ac;
    color: white;
}

#key_experience option[disabled] {
    background-color: white;
    color: #ffb7d1;
    height: 30px;
}

#key_employment {
    color: rgb(0, 0, 0);
    height: 30px;
}

#key_employment option:checked {
    background-color: #1ca7ac;
    color: white;
}

#key_employment option[disabled] {
    background-color: white;
    color: #ffb7d1;
    height: 30px;
}


.bt-search {
    background-color: #68989A;
    /* height: 30px; */
}

.result-message {
    animation: fadeOut 5s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}
