.key_area_db {
    height: 30px;
}

#key_experience_db {
    color: rgb(0, 0, 0);
    height: 30px;
}

#key_experience_db option[disabled] {
    color: #ffb7d1;
    height: 30px;
}

#key_employment_db {
    height: 30px;
}

#key_employment_db option[disabled] {
    color: #ffb7d1;
    height: 30px;
}


.bg-custom {
    background-color: #225F65;
}

nav {
    margin-bottom: 20px;
}


table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #FFABAB;
    padding: 8px;
    text-align: left;
    font-weight: bold;
}

td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}


tr:nth-child(odd) {
    background-color: #f9f9f9;
}

tr:nth-child(even) {
    background-color: white;
}

tr:hover {
    background-color: #ffe0e0;
}


a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



.bt-search {
    background-color: #68989A;
    height: 30px;
}
