<!-- index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Приложение на Flask</title>
</head>

<body>
    <!-- <a href="/results">Перейти к результатам</a> -->
    <div style="width: 100%; display: flex;">
        <a href="/"
            style="width: 50%; height: 30px; text-align: center; background-color: #3498db; color: white; cursor: pointer; border-radius: 10px; margin-bottom: 15px;">Page
            1</a>
        <a href="/results"
            style="width: 50%; height: 30px; text-align: center; background-color: #71b6e5; color: white; cursor: pointer; border-radius: 10px;">Page
            2</a>
    </div>

    <form action="/">
        <input type="text" name="keyword" placeholder="Введите ключевое слово">
        <button type="submit" style="background-color: #11ff00;">Поиск</button>
    </form>
    
    <h1>{{ result }}</h1>

</body>

</html>